.chatlist-container {
  background: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  
}

.chat-placeholder {
  margin-top: 40px;
  text-align: center;
  color: #6b7280;
}

.chat-placeholder span {
  font-size: 13px;
  display: block;
  margin-top: 8px;
}