.follow-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.follow-main {
  flex: 1;
  padding: 20px;
  overflow: hidden;
}

.notifications-banner {
  background: #111;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.profiles-scroll {
  height: 100%;
  overflow-y: auto;
}

.profiles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.profile-card {
  background: white;
  border-radius: 16px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.profile-card:hover {
  transform: translateY(-4px);
}

.card-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.avatar {
  position: absolute;
  bottom: 60px;
  right: 15px;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
}

.card-info {
  margin-top: 10px;
}

.follow-btn {
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  background: #eee;
}

.follow-btn.following {
  background: black;
  color: white;
}

.no-users {
  text-align: center;
  color: #666;
}

/* HEADER */
.follow-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-radius: 14px;
  margin-bottom: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);


  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  color: #222;
}

.follow-header h2 {
  margin: 0;
  font-size: 20px;
}

.filter-toggle-btn {
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
   background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  color: #222;
  cursor: pointer;
}

/* FILTER PANEL */
.filters-dropdown {
  background: white;
  border-radius: 14px;
  padding: 10px 16px;
  margin-bottom: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  color: #222;
}

.filter-section {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  
}

.filter-title {
  font-weight: 600;
  cursor: pointer;
}

.filter-options {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filter-options label {
  font-size: 14px;
  cursor: pointer;
}

/* Profiles */
.profiles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.profile-card {
  background: white;
  border-radius: 16px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.profile-card:hover {
  transform: translateY(-4px);
}

.card-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.avatar {
  position: absolute;
  bottom: 60px;
  right: 15px;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
}

.card-info {
  margin-top: 10px;
}

.follow-btn {
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  background: #eee;
}

.follow-btn.following {
  background: black;
  color: white;
}

.no-users {
  text-align: center;
  color: #666;
}

/* MOBILE */
@media (max-width: 768px) {
  .follow-header {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    color: #222;
  }

  .profiles-grid {
    display: flex;
    flex-direction: column;
  }

  .card-image img {
    height: 60vh;
  }
}